body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: rgb(0, 0, 0);
}
a {
  font-family: 'Orbitron', sans-serif;
  font-size: larger;
}
a:hover {
  color: #73ff00;
}

header {
  display: flex;
  background-color: blueviolet;
  align-items: center;
  background-image: url(../Simon-s-Technicolour-Dreamcoat/pics/bricks.jpg);
  background-size: cover;
}

.thumbnail:hover {
  position:relative;
  top:-40px;
  width:600px;
  height:auto;
  display:block;
  z-index: 1;
}

.sub-head {
  font-family: 'Orbitron', sans-serif;
  font-size: 150%;
  animation: flicker 1.5s infinite alternate;
  color: rgb(1, 253, 253);
  margin-left: 0;
  margin-bottom: 35px;
  margin-right: 250px;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 300%;
  flex-wrap: wrap;
  animation: flicker 1.5s infinite alternate;
  color: rgb(1, 253, 253);
  float: left;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 212),
      0 0 80px rgb(255, 0, 212),
      0 0 90px rgb(255, 0, 212),
      0 0 100px rgb(255, 0, 212),
      0 0 150px rgb(255, 0, 212);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

h2 {
  color: aqua;
  float: right;
}

h3 {
  font-size: 250%;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
}

nav ul {
  display:inline;
  justify-content: space-between;
  min-width: 300px;
  text-align: center;
  font-size: larger;
  text-shadow:
    0 0 7px rgb(255, 0, 242),
    0 0 10px rgb(255, 0, 242),
    0 0 21px rgb(255, 0, 242),
    0 0 42px rgb(255, 0, 242),
    0 0 82px rgb(255, 0, 242),
    0 0 92px rgb(255, 0, 242),
    0 0 102px rgb(255, 0, 242),
    0 0 151px rgb(255, 0, 0);
}


nav a {
  color: #73ff00;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}

nav a:hover {
  color: rgb(255, 0, 200);
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  border-bottom: 20px solid #000000;
  display: flex; 
  justify-content: space-around;
}

article p {
  font-size: 110%;
  color: rgb(255, 255, 255);
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content:center;
}

.gallery {
  margin: 5px;
  padding: 20px;
  border: 3px solid rgb(0, 255, 255);
  float: center;
  width: 300px;
  height: auto;
  flex-wrap: wrap;
}

.gallery2 {
  margin: 5px;
  padding: 20px;
  border: 10px solid rgb(0, 255, 255);
  float: center;
  width: 1385px;
  height: auto;
}

div.gallery img {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  -webkit-filter: blur(10px);
}

div.gallery img:hover{
  filter:blur(0)
}

footer {
  display: flex;
  justify-content: center;
  background-image: url(../Simon-s-Technicolour-Dreamcoat/pics/bricks.jpg);
  background-size: cover;
  padding: 2%;
  background-color: blueviolet;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1000px;
    min-width: 300px;
  }

}
.fa {
  padding: 10px;
  font-size: 40px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    
    color: rgb(255, 0, 200);
}

.fa-facebook {
  color: #73ff00;
}
.fa-linkedin {
  color: #73ff00;
}
.fa-instagram {
  color: #73ff00;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item-left {
  flex: 50%;
}
.flex-item-right {
  flex: 50%;
}
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
